*
    margin 0
    padding 0
    box-sizing: border-box

.section
    width: 100%;
    height: 100vh;
    background-color: #4A2B33;

.in
    display flex;
    justify-content: center;
    align-items: center;  

.intro 
    width 100%
    height 100vh
    background: white;
    display flex
    justify-content center
    align-items center
.int
    width 100%
    height 100vh
    background: white;
    
.introred  
    width 100%
    height 130vh
    background: #E9E9E3 
.introyell   
    width 100%
    height 530px
    background: #AA9E54;
.intromin    
    width 100%
    height 530px
    background: #4A2B33;     

      


.red
    background: red;


.btn
    position absolute
    top: calc(55% - 50px)
    left 0
    right 0
    margin 0 auto
    width: 150px;
    height 50px;
    background:  black; 
    box-shadow: 0 3px 5px  black;
    border: none;
    border-radius: 10px;
.header__link
    position absolute
    top 50px    
    left 30px

.link
    text-decoration none;
    color: #D27487 ;
    font-size 17px;
    margin: 15px;
    padding: 2px;
    top -60px;
    left: 40px;

.logo
    position relative
    top 30px
    text-align center
    font-size 40px
    color: #D27487
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight 700
.icons
    display flex
    position absolute
    left 1350px;
    line-height 40px
.img
    padding 5px    
   
  

.inst
    color:  #D27487;  

.main__img
    width 1400px

    position absolute
    top 150px
.content
  
    width 869px
    height 224px
    background-color:  white 
    padding 30px
.about__text
    font-weight 600
    text-align: center
    color:  #222222
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
.main__text
    line-height 40px
    color:  #222222
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size 30px
.menu
    position relative

    top 95px
    left: 70px;
    
    padding 20px
    height 135px
    width 430px
.menu__main__text
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight 600
    color: 6F6F64;
    
.menu__text
    font-size 32px
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight 400
    color: #6F6F64;
.menu__buttons
    line-height 20px
    position relative
    top 90px
    display flex
    flex-direction: column
    width 400px
    height 300px
    background:  #E9E9E3     
.menu__btn
 
    background-color:  #E9E9E3 
    
    height 50px
    border: 2px solid
    font-size:  15px
.menu__btn:hover
    background-color:  #6F6F64;
    color: white
.menu__img
    display flex
    justify-content: left 
    position absolute
    left 800px
    top 20px
.blocker 
    display flex 
.row
    width 33.33%
    height 19vh
    display flex
    justify-content center
  

  
.row__mini
    display flex
    justify-content center
    align-items center
    flex-direction: column
    position relative
    top 90px
    width 300px
    height 300px
  
.row__minis
    display flex
    justify-content center
    align-items center
    flex-direction: column
    position relative
    top 120px
    width 300px
    height 300px
  
.center__text
    line-height 70px
    font-size 15px
    text-align center
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    color: white
    font-weight 500    
.cen__text
    font-size 25px
    color: white
    font-weight 400  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 

.cent__text
    font-size 25px
    color: white
    font-weight 400  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
.cent1__text
    position relative
    top 30px
    font-size 25px
    color: white
    font-weight 400  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif                
.block__one
    width 720px
    height 320px
    background-color: red
    position relative
    margin 70px
    top 70px
    left 20px
.block__two
    width 720px
    height 320px
    background-color: red
    position relative
    margin 70px
    top 70px
    left 20px    
.block__three
    width 850px
    height 710px
    background-color: red
    position relative
    margin 70px
    top -710px

    left 900px    
.fer
    width 100% 
.fer1
    width 850px
    height 710px     
.dofooter
    position relative
    left 260px
    top 130px
    width 370px
    height 150px
.dofooter__text
    font-size 50px
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight 400
    color:  #D27487;
.dofooter__two
    position relative
    left 1100px
    width 440px
    height 150px
.dofooter__two__text
    line-height 25px
    font-size 18px
    color:  #D27487;
.footer
    display flex
    justify-content center
    align-items center
    width 100%
    height 250px
    background-color: white
.footer__links
    position relative
    left 230px
    display flex
    justify-content center
    align-items center
    padding 2px
   


    width 500px
    height 50px
    background-color:  white
.footer__linkse
    position relative
    left -270px
    display flex
    justify-content center
    align-items center
    padding 2px
    position relative
    top 50px
   


    width 500px
    height 50px
    background-color:  white    
.foot__link
    margin 10px
    font-size 15px
    font-weight 400
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    color: black
    font-weight 500
    text-decoration: none


    




    


